/* STRUCTURE */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	
    font-family: verdana;
    font-size: 12px;
}

/* images */
img {
    border: 0px;
}

.ssb-icon {
	height: 16px !important;
    width: 16px  !important;
    border: none;
    vertical-align: middle;
}

/* links */
a {
    text-decoration: none;
    color: #3A6EA0;
}

a:link {
    color: #396EA2;
}

a:visited {
    color: #396EA2;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #6386A4;
}

#main {
    height: 100%;
}

#wrapper { 
    width: 100%;
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}

/** 
 * header related stuff ------------------------------------------------
 */
#header { 
    float: left; 
    width: 100%;
    height: 116px; 
    display: block; 
    clear: both; 
    border: 0px;
    background-color: #F9F9F9;
    border-bottom: 1.5px solid #6A7DA8;
    padding-bottom: 15px;
}

/*
#header-logo {
    float:left;
    margin-top: 20px;
    margin-left: 80px;
    position:absolute;
    width: 160px;
    z-index: 10;
}
*/

#header-logo {
    float:left;
    margin-top: 20px;
    margin-left: 80px;
    position:absolute;
    width: 120px;
    z-index: 10;
}


#header-headline {
    position:absolute;
    left:310px;
    top:65px;
    
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #0065A2;
    text-decoration: none;
}

#header-abstract {    
    position:absolute;
    left:310px;
    top:104px;
    z-index: 5;
    
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

#header-blueblock {
    clear: both; 
    z-index: 1; 
    height: 32px; 
    width: 100%; 
    top: 100px; 
    left: 0px; 
    position: absolute; 
    background-image: url(../images/blue_block.jpg); 
    vertical-align: text-bottom;
}

#header-menu-right {
    float:right;
    font-size:12px;
    margin-top: 8px;
    margin-right: 8px;
    color: #0065A2;
}

#language-switcher
{
    font-size:12px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    color: #6386A4;
    margin-left: 8px;
}

/** */
#filtersAndMap {
    position: absolute; 
    top: 133px; 
    right: 0px; 
    left: 270px;
    bottom: 10px;
}


/* [HACK] This is required as otherwise our $.autoHeight() will give */
/* incorrect heights as it does not consider margins of child elements that */
/* extend outside of the parent element */
/* This style overrides Twitter Bootstraps defaults for the given element */
#filtersAndMap ul {
	margin: 0px;
}

#filtersAndMap ol {
	margin: 0px;
}

#tabs-content-places {
	margin-left: 25px;
}

#tabs-content-places form {
	margin: 0px;
}


/** */
#tabs {
    position: absolute; 
    left: 0px;
	top: 133px; 
    bottom: 10px;
    width: 260px; 
    max-width: 260px;
/*     width: 300px;  */
/*     max-width: 300px; */
	float: left;
/*     overflow-y: auto; */
	overflow: hidden;
    padding: 0px;
    margin-top: 0px;
    word-wrap: break-word;
    background-color: #F9F9F9;
    padding-right: 10px;
}

#ssb-nav-tabs-content {
/* 	position: relative; */
/* 	top: 0px; */
/* 	bottom: 0px; */
/* 	overflow: auto; */
	height: auto;
}


.ssb-nav-tabs > li > a {
	padding: 8px;
}


/* .tabs-header { */
/*     padding:0; */
/* 	margin:0; */
/*     position:relative; */
/*     z-index: 1; */
/*     float:left; */
/*     list-style:none; */
/* } */



/* .tabs-content { */
/* 	/* max-height: 100%; */  */
/*     height: 150px; */
/*     height: 100%; */
/*     bottom: 0px; */
/*     width: 100%; */
/*     overflow: auto; */
/* } */


/* #tabs-links { */
/*     margin-top: 20px; */
/*     font-size: 13px; */
/*     font-weight: bold; */
/*     width: 100%; */
/* } */

/* #tabs-content-instances { */
/*     width: 50px; */
/*     word-wrap: break-word; */
/*     margin-right: 5px; */
/* } */



/* #tabs-content-instances { */
/*     cursor: pointer; */
/*     float: left; */
/*     margin-left: 10px; */
/* } */


/* #tabs-content-facets { */
/*     cursor: pointer; */
/*     float: left; */
/*     margin-left: 10px; */
/* } */

/* #tabs-content-types { */
/*     cursor: pointer; */
/*     float: left; */
/*     clear: right; */
/*     margin-left: 10px; */
/* } */

/* #tabs-content-places { */
/*     cursor: pointer; */
/*     float: left; */
/*     clear: right; */
/*     margin-left: 10px; */
/* } */


/**
 * Instances tab
 */
/* #instances-tab { */
/*     margin-top: 40px; */
/*     width: 220px; */
/*     word-wrap: break-word; */
/* } */


/* #tabs-places-content { */
/*     margin-top: 20px; */
/* } */

/* #places-tab { */
/*     margin-left: 10px; */
/* } */

/* /** */
/*  * Facets tab */
/*  */ */
/* #facets-tab { */
    
/* } */

/* #facets-tab ul { */
/*     font-size: 11px; */
/*     font-weight: normal; */
/*     margin-left: -6px; */
/* } */

/* .facets-tab-content-facetswitcher-li-nav-values { */
/*     margin-top: 50px; */
/*     margin-left: -3px; */
/*     font-style: bold; */
/*     color: #272B6E; */
/* } */

/* .facets-tab-content-facetswitcher-li-nav-subfacets { */
/*     margin-top: 50px; */
/*     margin-left: 10px; */
/* } */

/* .facets-tab-content-facetswitcher-li-entries { */
/*     display: none; */
/*     margin-bottom: 10px; */
/* } */

/* .facets-tab-content-facetswitcher-li-entries-nav { */
/*     margin: 4px; */
/* } */

/* #facets-tab-content-searchContainer { */
/*     text-align: center; */
/*     margin-left: -6px; */
/*     width: 100%; */
/*     padding-top: 40px; */
/* } */

/* #facets-tab-content-searchTextBox { */
/*     width: 150px; */
/*     border: 1px solid #313575; */
/* } */

/* #facets-tab-content-searchButton { */
/*     border: 1px solid #313575; */
/*     background-color: #f9f9f9; */
/* } */

/* .facets-tab-content-facetswitcher-li { */
/*     margin-left: -5px; */
/* } */

/* .facets-tab-content-facetitem-li { */
/*     margin-left: -10px; */
/*     font-style: italic; */
/*     list-style-type: disc; */
/* } */

/* .facets-tab-content-facetitem-li-ol { */
/*     display: none; */
/* } */

/* .ui-tabs-nav { */
/*     margin-left: -35px; */
/* } */


/* /** */
/*  * Search results (in #box-places) */
/*  */ */
/* #searchResults { */
/*     margin: 0px; */
/* } */

/* #searchResults ul { */
/*     padding-left: 18px; */
/*     list-style-type: square; */
/*     padding-left: 20px; */
/*     margin-bottom: 6px; */
/* } */

/* #searchResults li { */
/*     margin-top: 5px; */
/* } */

/* .searchResults-item-name { */
/*     font-weight: bold; */
/*     cursor: pointer; */
/* } */

/* .searchResults-item-description { */
/*     font-style: italic; */
/*     font-size: 11px; */
/* } */


/*
.ssb-size-max {
	position: relative;
	width: 100%;
	height: 100%
}*/

/**
 * A box for testing
 *
 */
.box-test {
    position: absolute; 
    left: 350px;
    /* right: 500px; */ 
    top: 140px;
    /* height: 300px; */
    margin-right: 10px;
    width: 35%; 
    max-height: 60%;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
}

/**
 * Factbox / ResourceWidget (Name subject to change)
 *    This is the element which enables one to browse the RDF facts
 */
#box-facts {
    position: absolute; 
    right: 0px; 
    top: 30px;
    margin-right: 10px;
    width: 45%; 
    max-height: 75%;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
	z-index: 1000;
}


#box-resources {
    position: absolute; 
    left: 50px; 
    top: 30px;
    margin-right: 10px;
    width: 45%; 
    max-height: 75%;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
	z-index: 1000;
}


.box-facts-table {
	border-collapse: collapse;
}

.box-facts-content-line-odd {
    display: table-row;
}

.box-facts-content-line-even {
    display: table-row;
    background-color: #E7E2E2;
}

.box-facts-content-cell-both {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box-facts-content-cell-left {
    display:table-cell;
    width: 40%;
    height: auto;
    padding: 3px;
    font-weight: bold;
    word-wrap: break-word;
}

.box-facts-content-cell-right {
    display:table-cell;
    padding: 3px;
    height: auto;
    word-wrap: break-word;
}


#ssb-breadcrumb {
/* 	position: relative; */
	height: auto;
}

#map {
	position: relative;
	top: 0px;
	left: 0px;
}



/*
#ssb-constraints {
	position: relative;
}

#map {
	position: relative;
	top: 0px;
	left: 0px;
}
*/

/* #box-facts-closebutton { */
/*     position: relative; */
/*     top: 0px; */
/*     left: 0px; */
/*     margin-top: 3px; */
/*     margin-right: 5px; */
/*     float: left; */
/* } */

/* #box-facts-closebutton-img { */
/* /*     width: 14px; */ */
/* /*     text-align: middle; */ */
/* } */
