.buildpath
.project
.settings/

# Temporary excludes:
install-rdf-author.sh
lib/jPages/
lib/jscache/

lib/RDFauthor/current
lib/Font-Awesome/current

config.js
*.tar.gz

index.php

debian/semmap
debian/semmap.debhelper.log
debian/semmap.postinst.debhelper
debian/semmap.prerm.debhelper
debian/semmap.substvars


config.js.sparqlify
