.classpath
.buildpath
.project
.settings

target
deleteme
tmp

# Temporary excludes:
install-rdf-author.sh
facete-client/lib/jPages/
facete-client/lib/jscache/

facete-client/lib/RDFauthor/current
facete-client/lib/Font-Awesome/current

facete-server/cache

config.js
*.tar.gz
*.swp

facete-client/debian/semmap
facete-client/debian/semmap.debhelper.log
facete-client/debian/semmap.postinst.debhelper
facete-client/debian/semmap.prerm.debhelper
facete-client/debian/semmap.substvars

deptree.txt

config.js.sparqlify

facete-client/lib/SparqlProxyPHP
facete-client/lib/agility
facete-client/lib/jQuery-ajaxTransport-XDomainRequest
facete-client/lib/twitter-bootstrap
facete-client/lib/underscore.string

facete-config.js
facete-index.properties
