
html, body {
	height: 100%;
}

.fill {
/* 	margin-bottom: -9999px; */
/* 	padding-bottom: 9999px; */
/* 	border: 3px; */
/* 	border-color: #E9EFF3; */
/* 	border-style: dashed; */
	position: relative;
	min-height: 100%;
}

.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;

	/* Note: This overlaps with the config area. The hacky solution
    is to use another background for the config area with a higher z-index */
    top: 140px;
    width: inherit;
    z-index: -5;  
}

/* .toggle-minimized  */
a {
	color: #6677EE;
}

.facete-table-header {
	margin-bottom: 5px;
}

.facete-table-footer {
	
}

.portlet input.search-query {
    border-radius: 4px 4px 4px 4px;
}
.portlet .pagination {
	margin: 5px 0px;
}

.facete-table-limit {
	position: absolute;
	right: 0px;
	width: 70px;
	height: 30px;
}

.portlet ul {
	margin-left: 0px;
}

.facet-tree li {
	line-height: 15px;
}


.facet-tree ul {
	margin-left: 15px;
	margin-bottom: 0px;
}


/*
 * Bootstrap overrides for SemMap
 */



.table-bordered {
	border-left-width: 1px;
	border-left-color: #DDDDDD;
	border-style: solid;
}

.navbar-inner {
	background-color: #CCCCFA;
    background-image: linear-gradient(to bottom, #CCCCFF, #EEEEFF);
}

.navbar {
	margin-bottom: 0px;
}


.pagination {
/* 	margin: 5px; */
	height: 17px;
}

.pagination a {
	padding: 0 7px;
	line-height: 17px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f0f0ff;
}

portlet-group {
	margin-left: 10px;
}

/*
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 30px;
    width: 100%;
}*/

/*
 * Custom classes for Facete
 */

ul .facet {
	list-style: none;
	list-style-type:none;
}


/*
 * Hack for the facete-classic header - we need to do some refactoring to support better themeing
 */
#header-title {
	display: block;
    left: 240px;
    top: 10px;
	width: 400px;
	height: 100px;
    font-size: 28px;
    line-height: 1.2;
    position: absolute;
    text-transform: uppercase;
}


/*
 * Make checkboxes smaller. This is not cross browser compatible,
 * but on browsers where this works we make better use of the space
 * 
 * http://www.456bereastreet.com/lab/form_controls/checkboxes/
 */
input[type='checkbox'] {
	width:11px;
	height:11px;
	-moz-appearance: none;
}


/*
 * Overrides of the ec css
 */
 
.container {
	width: 100% !important;
	min-height: 100% !important;
	overflow: hidden;
}


.header .logo img {
	margin-top: 0px !important;
}

.header {
	width: 100% !important;
	height: 88px !important;
}

.header .span12 {
	height: 88px !important;
}

.header .logo {
	padding: 1em 1em 1em 3em;
}

.top-breadcrumbs {
	height: 20px;
	padding-bottom: 0;
}

.region {
	background: #1c3048 url("../images/header-bg.jpg") no-repeat right;
	width:100%;
	height:40px;
}

.breadcrumb-custom {
	padding-left: 36px;
}

/* #header-menu ul li.leaf { */
/* 	background: none; */
/* } */

/*
 * Fixes, workarounds and hacks
 */
 
 /* Fix for http://stackoverflow.com/questions/11266297/openlayers-openstreetmap-background-is-vertically-striped-and-squished */
img {
	max-width: none !important;
}
/* Fix for strange background on font-awesome icons --- http://stackoverflow.com/questions/11452356/duplicated-icon-issue-with-twitter-bootstrap-and-font-awesome */
/* Fix for wrong vertical align */
[class^="icon-"], [class*=" icon-"]{
  background: none;
  vertical-align: baseline;
}



/**
 * Utility
 */
/* http://stackoverflow.com/questions/224602/how-do-you-make-div-elements-display-inline */
div.inline {
	float:left;
}

.clearBoth {
	clear:both;
}

.facete-icon {
    margin-left: 2px;
    margin-right: 2px;
}

/*
* Left column facets styling
*/
/* .left-column { */
/* 	background-color: #eee; */
/* 	height: 100%; */
/* } */

/* #facets { */
/* 	margin-top: 0px; */
/* 	margin-left: 10px; */
/* 	margin-bottom: 10px; */
/* } */

/* #facetValues { */
/* 	padding-top: 5px; */
/* } */

/* #facetValues input { */
/* 	width: 80%; */
/* } */

/* #facetValues table { */
/* 	margin-top: 5px; */
/* 	width: 80%; */
/* } */

/* #facetValues table td { */
/* /* 	min-width: 15px; */ */
/* /* 	word-wrap: break-word; */ */
/* 	vertical-align: middle; */
/* 	line-height: 10px; */
/* 	padding: 4px; */
/* 	border-width: 0px; */
/* } */

/* #facetValues table td span { */
/* 	width:90%; */
/* 	overflow:auto; */
/* 	/*width: 100%;*/ */
/* } */