/*
 * Bootstrap overrides for SemMap
 */
 
.pagination {
	margin: 5px;
	height: 17px;
}

.pagination a {
	padding: 0 7px;
	line-height: 17px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f0f0ff;
}


/*
 * Custom classes for SemMap
 */

ul .facet {
	list-style: none;
	list-style-type:none;
}




/*
 * Overrides of the ec css
 */
 
.container {
	width: 100% !important;
}

.header {
	width: 100% !important;
	height: 88px !important;
}

.header .span12 {
	height: 88px !important;
}

.header .logo {
	padding: 1em 1em 1em 3em;
}

.top-breadcrumbs {
	height: 20px;
	padding-bottom: 0;
}

.region{
	background: #1c3048 url("../../resources/images/header-bg.jpg") no-repeat right;
	width:100%;
	height:40px;
}

#header-menu ul li.leaf {
	background: none;
}

/*
 * Fixes, workarounds and hacks
 */
 
 /* Fix for http://stackoverflow.com/questions/11266297/openlayers-openstreetmap-background-is-vertically-striped-and-squished */
img {
	max-width: none !important;
}

/*
 * Left column facets styling
 */
.left-column{
	background-color: #eee;
	height: 100%;
}

#facets {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#facetValues {
	padding-top: 5px;
}

#facetValues input {
	width: 80%;
}

#facetValues table {
	margin-top: 5px;
	width: 80%;
}

#facetValues table td {
	min-width: 15px;
	word-wrap: break-word;
	vertical-align: middle;
}

#facetValues table td span {
	width:90%;
	overflow:auto;
	/*width: 100%;*/
}

/*
 * Central column styling
 */

#instances {
	padding-top: 5px;
	margin-left: -10px;
}

#instances input {
	width: 80%;
	margin-bottom: 5px;
}

#instances table {
	margin-top: 5px;
	width: 100%;
}

#instances table th {
	background-color: #d9edf7;
}

#instances div:nth-last-child(1){
	margin-top: 10px;
}

#instances ul {/*div:nth-last-child(1){*/
	width: 40%;
	margin: auto;
}

/*
 * Right column styling
 */

#mapContainer {

}
