body{font-family:Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;line-height:1.5;font-size:62.5%;color:#555555;margin:0;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

ul li a, ul li a:visited {
    color: #545454;
    text-decoration: none;
    font-weight: normal;
}

.item-list ul {
	margin: 0;
}

h1{
	color: #669602;
	margin: 0;
	padding: 0;
}

h2{
	color: #505d8c;
	font-size: 16px;
	font-weight: bold;
	margin:0;
	padding:10px 0;
	border-bottom: 1px solid #aaaaaa;
}

h2 p {
	float: right;
	margin: 5px 5px 0 0;
	font-size: 12px;
	font-weight: normal;
	color: #8e8e8e;
}

h2 a {
	float: right;
	margin: 5px 5px 0 0;
	font-size: 12px;
	font-weight: normal;
	color: #8e8e8e;
	cursor:pointer;
	font-style:italic;
}

a.item_link, a.item_link:visited {
	margin:20px 0px 10px 30px;
	display:block;
	cursor:pointer;
	color: #999;
}

a.item_link p, a.item_link:visited p{
	float:none;
	font-weight:bold;
	margin-bottom:3px;
	font-size:13px;
	color: #666;
}

a.item_link:hover, a.item_link:hover p {
	color:#089cce !important;
	text-decoration:none;
}

h2 a:hover{
	color:#089cce !important;
	text-decoration:none;
}

.rss {
	display:block;
	float:right;
	width:19px;
	height:19px;
	background: url("../../resources/images/ec/icons.png") 0px 0px no-repeat;
	cursor:pointer;
	margin: 5px 0 0 5px;
}

.resource {
	display:block;
	float:left;
	width:19px;
	height:19px;
	background: url("../../resources/images/ec/icons.png") -17px 0px no-repeat;
	margin: 0px 0 0 -25px;
}


h2 a:hover .resource, a.item_link:hover .resource {
	background: url("../../resources/images/ec/icons.png") -17px -17px no-repeat;
}


.publisher {
	display:block;
	float:left;
	width:19px;
	height:19px;
	background: url("../../resources/images/ec/icons.png") -34px 0px no-repeat;
	margin: 0px 0 0 -25px;
}

h2 a:hover .publisher, a.item_link:hover .publisher {
	background: url("../../resources/images/ec/icons.png") -34px -17px no-repeat;
}

.tag {
	display:block;
	float:left;
	width:19px;
	height:19px;
	background: url("../../resources/images/ec/icons.png") -102px 0px no-repeat;
	margin: 0px 0 0 -25px;
}

h2 a:hover .tag, a.item_link:hover .tag {
	background: url("../../resources/images/ec/icons.png") -102px -17px no-repeat;
}

h2 a div {
	margin:0px !important;
}

label{
	color: #0985C5;
	font-weight: bold;
}

ul.menu li {
	margin:0;
}

.form-submit:not(#odp-search), input[type="reset"]{
	cursor: pointer;
	font-size:14px;
	font-style:italic;
	color:#7082b1;
	font-weight:bold;
	background-repeat:no-repeat;
	padding:5px 25px 5px 60px;
	border-bottom:#bbbbbb 1px solid;
	margin:20px 10px 20px 0;
	padding: 10px 25px;
	border-right:1px solid #bbbbbb;
	background: #dfe0e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #dfe0e0 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dfe0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg,  #dfe0e0 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e0', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


	background-image:url("../../resources/images/ec/buttons.png");


#odp-search{
    vertical-align: middle; *vertical-align: text-bottom;
}

.form-submit:hover{
	color:#0e9ece;
}

.marker, .form-required {
	color: #0985C5;
    display:none;
}

#user-login-form ul{
	list-style: none;
}

#user-login-form ul li{
	margin: 0;
	padding: 0;
}

#user-login-form a{
	color: #88AF3C;
	text-decoration: underline;
	font-weight: bold;
}

.datasets .span12 .region,
.application-tags .span12 .region {
	/*margin-right: 30px;*/
}

.container{
	/*min-width: 984px;*/
	width: 988px;
	margin: 0 auto;
	font-size: 120%;
}

.header{
	height: 88px;
}

.header .span12{
	height: 145px;
}

.header .header-bg{
	float: left;
}

.header .logo{
	padding: 0px 0 0 0px;
	width: 660px;
	height: 88px;
}

.header .logo img{
	margin-top:-4px;
}

#header-title{
	/*position: absolute;*/
	/*top: 125px;*/
	/*padding-top: 50px;
	padding-left: 215px;*/
	position: relative;
	top: -70px;
	left: 240px;
	font-size: 28px;
	line-height: 1.2;
	text-transform: uppercase;
}

#header-title a{
	color: #0065A2;
}

#header-title a:hover{
	text-decoration: none;
}

#header-subtitle{
	/*position: absolute;
	top: 165px;
	padding-left: 220px;*/
	position: relative;
	top: -65px;
	left: 240px;
	font-size: 21px;
	/*letter-spacing: 1.5px;*/
	color: #FFFFFF;
	line-height: 1.2;
	/*text-transform: uppercase;*/
}

#header-language{
	float: right;
	margin: -1px 1px 0 0;
	/*margin-right: -25px;*/
}

#header-language .form-item-lang-dropdown-select{
	margin: 0;
}

#header-menu{
	float: right;
	padding:0 10px 4px 400px;
	position: relative;
	/*background:#fff url("../../resources/images/ec/languagebar.png") top right no-repeat;*/
}

#header-menu ul li.leaf{
	display: inline;
	background: url("../../resources/images/ec/services-separator.gif") transparent left center no-repeat;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 1px;
}

#header-menu ul li.first{
	background-image: none;
}

#header-menu a{
	font-weight: normal;
	line-height: 1.4;
	font-size: 90%;
	color: #07c;
	text-decoration: none;
	cursor: pointer;
}

.header, .breadcrumb-custom, .menu, .content-custom, .datasets, .application-tags, .footer {

}

.content-custom, .datasets, .application-tags, .footer{
	background-color: #fff;
}

.header .menu {
}

.breadcrumb-custom{
	background-color: #e9eff3;
	border-top:1px #CCC;
	color: #646464;
	padding-bottom:3px;
}

.breadcrumb-custom .span12{
	margin-left: 5px;
}

.breadcrumb-custom .seperator{
	padding-left: 5px;
	color:#a1c6d0;
}

.breadcrumb-custom a, .breadcrumb-custom .last{
	color: #646464;
	padding-left: 5px;
	font-size: 90%;
	line-height: 1.6;
}

.breadcrumb-custom a:hover, .breadcrumb-custom a:focus, .breadcrumb-custom a:active{
	text-decoration: underline;
}

.container .menu, .container .content-custom, .container .datasets, .container .application-tags {
	margin: 0;
}

.span8 {
	width: 600px;
}


.span6 {
	width: 494px;
	float:left;
	margin-bottom:50px;
}

.span4 {
	width: 300px;
	float: right;
}

.container .menu .menu {
	margin: 0;
	padding: 13px 0 0px 0;
}

.container #header-menu .menu {
	margin: 0;
	padding: 1px;
}

.menu ul{
	list-style: none;
	font-size: 14px;
	font-weight: normal;
	/*margin: 30px 0 0 0;*/
	padding:0;
}

.menu .region{
	/*margin-right: 30px;*/
	background: #1c3048 url("../../resources/images/ec/menu.png") no-repeat right;
}

.menu ul li{
	display: inline;
	margin: 0;
	padding: 0;	
}

.menu ul li a{
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 13px;
	line-height:27px;
	margin-right: -3px;
	background: repeat-x center center url("../../resources/images/ec/menubuttonbg.png") ; /* Old browsers */
	background: -moz-linear-gradient(top, #6c7dac 0%, #353d66 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c7dac), color-stop(100%,#353d66)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6c7dac 0%,#353d66 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6c7dac 0%,#353d66 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6c7dac 0%,#353d66 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6c7dac 0%,#353d66 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e0', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.menu ul li a:hover, .menu ul li a:focus, .menu ul li a.active, .menu ul li a:active{
	background: #fff;
	color:#505d8c;
	font-weight:bold;
}

.right-column {
	margin-top: 2em;
}

.media-youtube-outer-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.view-linked-data-new-articles ul,
.view-new-articles ul {
	list-style-type: none;
}

.view-linked-data-new-articles ul li,
.view-new-articles ul li {
	background: url("../../resources/images/ec/article-item.png") no-repeat 0 0;
	text-indent: 15px;
	margin-left: 0;
}

.view-linked-data-new-articles ul li a,
.view-new-articles ul li a {
	color:#8B8B8B;
	font-weight: normal;
}

.footer {
	background-color: #e9eff3;
	border-top:1px #CCC;
	color: #646464;
	padding-bottom:3px;
	font-size: 90%;
	line-height: 1.6;
	padding-left: 5px;
	clear: both;
}

.footer a{
	color: #646464;
	padding-left: 5px;
	font-size: 90%;
	line-height: 1.6;
}

#search-block-form .form-text {color: #ccc; font-size: 90%;  }
.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}
/*#edit-search-block-form--2 { height: 20px;} */

.region-articles .menu {
    padding: 0px;
}

.region-articles .form-submit:not(#odp-search){
    float: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: none;
    visibility: hidden;
}
/* IE6 */
* html .clearfix {
    height: auto;
}
/* IE7 */
*:first-child + html .clearfix {
    min-height: auto;
}

#block-menu-menu-cms-access {
    position: absolute;
    left: -52px;
    top: 0px;
}

.block-twitter-block ul, .block-multiblock ul {
    list-style-type: none;
}

.beta {
    color: red;
    font-size: 0.4em;
    vertical-align: 2px;
    font-weight: bold;
    padding-left: 10px;
}




/* Restyling */

#header-language {
	float: right;
	margin: 0;
	padding: 3px 5px;
	background:#dde6ea;
}


body {
}

.dd .ddTitle {
	background: #FFFFFF;
	border: 0px solid #c3c3c3;
	padding: 1px 0 1px 3px;
	margin: 0;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 16px;
}

.span4 .block-block, #block-menu-menu-odp-twitter-accounts, #block-menu-menu-odp-blog-list, #block-menu-menu-contact-us {
	border-bottom:#bbbbbb 1px solid;
	padding:20px;
	margin:20px 0;
	border-right:1px solid #bbbbbb;
	background: #dfe0e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #dfe0e0 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dfe0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg,  #dfe0e0 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e0', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.span4 h2 {
	padding:0px;
	border:none;
}


.span4 ul li {
	margin-top:5px;
}

ul li.leaf {
	list-style-image: none;
	list-style-type: none;
}


ul li span{
	color:#999;	
}


.container .content-custom {
	margin-top: 20px;
}

#header-title, #header-subtitle{
	display:none;
}


.region-tabdesc{
	background:	#fff url("../../resources/images/ec/descborder.png") bottom center no-repeat;
	margin: 0px auto 10px auto;
	position:relative;
	padding: 30px 30px 20px 30px;
}

input#txtSearchData {
	-webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    border: 2px solid #cacaca;
    color: #333;
    font-size: 14px;
    padding:11px 10px;
    margin-top: 0px;
	margin-right: 7px;
	display:block;
	width:823px;
	float:left;
}

.flowplayer {
	display: block;
	width: 640px;
	height: 380px;
	clear: both;
	margin: 25px auto 10px auto;
}


.region-tabdesc input[type="text"]{
	-webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    border: 2px solid #cacaca;
    color: #333;
    font-size: 14px;
    padding:11px 10px;
	margin: 0px auto 10px auto;
	display:block;
	width:823px;
}

.region-tabdesc input[type="submit"], .region-tabdesc input[type="submit"]:hover {
	position: absolute;
	right: 86px;
	top: 32px;
	background: url("../../resources/images/ec/search_button.png") top right no-repeat !important;
	width: 33px;
	fiter: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	cursor:pointer;
	height: 36px;
	font-size: 0px;
	-moz-appearance: button;
	padding: 0px 6px 0px 6px;
	border: 0px outset ButtonFace !important;
	font: -moz-button;
	white-space: pre;
	cursor: default;
	-moz-box-sizing: border-box;
	-moz-user-select: none;
	-moz-binding: none;
	text-align: center;
	white-space: inherit;
	text-indent: 0;
	padding:0;
	margin:0 !important;
}

.region-tabdesc p{
	color: #555555;
	font-size: 14px;
}

.video-capture {
	width: 575px;
	margin: 0px auto 10px auto;
	padding-left: 25px;
	color: #7082b1;
	background: url("../../resources/images/ec/videocapture.png") center left no-repeat;
}
#ckan-form p{
	margin: 0px 65px;
}

.grouped-buttons {
	display:block;
	border-bottom:#bbbbbb 1px solid;
	margin:20px 0;
	float:left;
	height: 40px;
	line-height: 42px;
	border-right:1px solid #bbbbbb;
	background: #dfe0e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #dfe0e0 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dfe0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #dfe0e0 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg,  #dfe0e0 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e0', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.grouped-buttons a:link, .grouped-buttons a{
	background-image:url("../../resources/images/ec/buttons.png");
	height:30px;
	font-size:14px;
	font-style:italic;
	color:#7082b1;
	font-weight:bold;
	background-repeat:no-repeat;
	padding:5px 25px 5px 60px;
}

.grouped-buttons a:hover {
	color:#0e9ece;
}

.grouped-buttons a.data-button:link, .grouped-buttons a.data-button{
	background-position:-2px -96px;
}

.grouped-buttons a.data-button:hover{
	background-position:-2px -3px;
}

.grouped-buttons a.apps-button:link, .grouped-buttons a.apps-button{
	background-position:0px -158px;
}

.grouped-buttons a.apps-button:hover{
	background-position:0px -66px;
}

.grouped-buttons a.linked-button:link, .grouped-buttons a.linked-button{
	background-position:0px -127px;
}

.grouped-buttons a.linked-button:hover{
	background-position:0px -34px;
}

.region-content{
	padding: 0 30px;
}

.right-column {
	padding-right: 30px;
}