/* STRUCTURE */
/* html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
 */
/*
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	
    font-family: verdana;
    font-size: 12px;
}*/

body {
    color: #5C5C5C;
    font-family: Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
    font-size: 12px;
}


/* images */
img {
    border: 0px;
}

.ssb-icon {
	height: 16px !important;
    width: 16px  !important;
    border: none;
    vertical-align: middle;
}

/* links */
a {
    text-decoration: none;
    color: #3A6EA0;
}

a:link {
    color: #396EA2;
}

a:visited {
    color: #396EA2;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #6386A4;
}


#main {
/* 	position: static; */
    /* height: 100%; */
}

#wrapper .container-fluid {
	padding: 0px 0px !important;
}

#wrapper {
	position: absolute;
    width: 100%;
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}


/* [HACK] This is required as otherwise our $.autoHeight() will give */
/* incorrect heights as it does not consider margins of child elements that */
/* extend outside of the parent element */
/* This style overrides Twitter Bootstraps defaults for the given element */
#filtersAndMap ul {
	margin: 0px;
}

#filtersAndMap ol {
	margin: 0px;
}

#tabs-content-places {
	margin-left: 25px;
}

#tabs-content-places form {
	margin: 0px;
}


/** */
#tabs {
/*     position: absolute;  */
/*     left: 0px; */
/* 	top: 133px;  */
/*     bottom: 10px; */
    width: 260px; 
/*     width: 300px;  */
/*     max-width: 300px; */
/* 	float: left; */
/*     overflow-y: auto; */
	overflow: hidden;
    padding: 0px;
    margin-top: 0px;
    word-wrap: break-word;
    background-color: #F9F9F9;
    padding-right: 10px;
}

#ssb-nav-tabs-content {
/* 	position: relative; */
/* 	top: 0px; */
/* 	bottom: 0px; */
/* 	overflow: auto; */
	height: auto;
}

#tabs-content-start {
	height: 100%;
	overflow: auto;
}

.ssb-nav-tabs > li > a {
	padding: 8px;
}

/**
 * A box for testing
 *
 */
.box-test {
    position: absolute; 
    left: 350px;
    /* right: 500px; */ 
    top: 140px;
    /* height: 300px; */
    margin-right: 10px;
    width: 35%; 
    max-height: 60%;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
}

/**
 * Factbox / ResourceWidget (Name subject to change)
 *    This is the element which enables one to browse the RDF facts
 */
#box-facts {
    position: absolute; 
/*     right: 0px;  */
/*     top: 0px; */
/*     margin-right: 10px; */
    width: 35%; 
    max-height: 75%;
/*
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    */
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
	z-index: 1000;
}


#box-resources {
    position: absolute; 
/*     left: 50px;  */
/*     top: 30px; */
/*     margin-right: 10px; */
    width: 35%; 
    max-height: 75%;
/*     padding-left: 6px; */
/*     padding-top: 6px; */
/*     padding-right: 6px; */
/*     padding-bottom: 14px; */
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
	z-index: 1000;
}


#box-resources-secondary {
    position: absolute; 
/*     left: 50px;  */
/*     top: 30px; */
/*     margin-right: 10px; */
    width: 35%; 
    max-height: 75%;
/*     padding-left: 6px; */
/*     padding-top: 6px; */
/*     padding-right: 6px; */
/*     padding-bottom: 14px; */
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
    display: none;
	z-index: 1000;
}



.box-facts-table {
	border-collapse: collapse;
}

.box-facts-content-line-odd {
    display: table-row;
}

.box-facts-content-line-even {
    display: table-row;
    background-color: #E7E2E2;
}

.box-facts-content-cell-both {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box-facts-content-cell-left {
    display:table-cell;
    width: 40%;
    height: auto;
    padding: 3px;
    font-weight: bold;
    word-wrap: break-word;
}

.box-facts-content-cell-right {
    display:table-cell;
    padding: 3px;
    height: auto;
    word-wrap: break-word;
}


#ssb-breadcrumb {
/* 	position: relative; */
	height: auto;
}



/** 
 * header related stuff ------------------------------------------------
 */
 
/* #header { */
/*     -moz-border-bottom-colors: none; */
/*     -moz-border-image: none; */
/*     -moz-border-left-colors: none; */
/*     -moz-border-right-colors: none; */
/*     -moz-border-top-colors: none; */
/*     background-color: #FFFFFF; */
/*     border-color: -moz-use-text-color -moz-use-text-color #6A7DA8; */
/*     border-style: none none solid; */
/*     border-width: 0 0 1.5px; */
/*     display: block; */
/*     height: 116px; */
/*     padding-bottom: 15px; */
/*     width: 100%; */
/* } */


/* /* Title is from CKAN, headline from cubeviz */ */
/* #header-title { */
/*     font-size: 28px; */
/*     left: 240px; */
/*     line-height: 1.2; */
/*     position: absolute; */
/*     text-transform: uppercase; */
/*     top: 65px; */
/* } */

/* #header-headline { */
/*     color: #0065A2; */
/*     font-size: 26px; */
/*     font-style: normal; */
/*     font-weight: normal; */
/*     text-decoration: none; */
/*     text-transform: uppercase; */
/* } */

/* #header-subtitle { */
/*     color: #FFFFFF; */
/*     font-size: 21px; */
/*     left: 240px; */
/*     line-height: 1.2; */
/*     position: absolute; */
/*     top: 104px; */
/* /*     width: 500px; */ */
/* 	margin: 0px; */
/* } */

/* /* .container { */ */
/* /*     font-size: 120%; */ */
/* /* } */ */
 
/* #header ul.menu { */
/*     list-style: none outside none; */
/*     text-align: left; */
/* } */

/* #header ul, */
/* #header li.leaf { */
/*     list-style-image: url("../../../../src/main/resources/images/menu-leaf.png"); */
/*     list-style-type: square; */
/* } */


/* #header ul li a, #header ul li a:visited { */
/*     color: #396EA2; */
/*     font-weight: bold; */
/*     text-decoration: none; */
/* } */

/* #header a { */
/*     text-decoration: none; */
/* } */


 
 
 
 
/* .header{ */
/* 	background-image: url("../../../../src/main/resources/images/title_bg.gif"); */
/* 	height: 145px; */
/* } */

/* .header .span12{ */
/* 	height: 145px; */
/* } */

/* .header .header-bg{ */
/* 	float: left; */
/* } */

/* .header .logo{ */
/* 	padding: 15px 0 0 40px; */
/* 	/*padding-top: 15px; */
/* 	padding-left: 40px;*/ */
/* } */

/* #header-menu { */
/*     float: right; */
/*     margin-right: 10px; */
/*     margin-top: 1px; */
/* } */

/* #header-menu ul li.leaf { */
/* 	display: inline; */
/* 	background: url("../../../../src/main/resources/images/services-separator.gif") transparent left center no-repeat; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	padding-left: 5px; */
/* 	padding-right: 1px; */
/* } */

/* #header-menu ul li.first{ */
/* 	background-image: none; */
/* } */

/* #header-menu a{ */
/* 	font-weight: normal; */
/* 	line-height: 1.4; */
/* 	font-size: 90%; */
/* } */

/* /* language selection */ */

/* #header-language { */
/*     float: right; */
/*     margin: -1px 1px 0 0; */
/* } */

.dd {
    background-color: #FFFFFF;
    color: #396EA2;
    float: left;
    font-size: 100%;
    line-height: 1.4;
    text-align: left;
}
.dd .ddTitle {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C3C3C3;
    cursor: default;
    height: 16px;
    margin: 2px 0 0;
    overflow: hidden;
    padding: 1px 0 1px 3px;
    text-indent: 0;
}
.dd .ddTitle span.arrow {
    background: url("arrows-down.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 16px;
    width: 16px;
}
.dd .ddTitle span.ddTitleText {
    line-height: 16px;
    overflow: hidden;
    text-indent: 1px;
}
.dd .ddTitle span.ddTitleText img {
    padding: 0 2px 0 0;
    text-align: left;
}
.dd .ddTitle img.selected {
    padding: 0 3px 0 0;
    vertical-align: top;
}
.dd .ddChild {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    position: absolute;
    width: auto;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
    padding-left: 10px;
}
.dd .ddChild a {
    color: #000000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    white-space: nowrap;
}
.dd .ddChild a:hover {
    background-color: #DDEEFF;
}
.dd .ddChild a img {
    border: 0 none;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd .ddChild a.selected {
    background-color: #DDEEFF;
}
.hidden {
    display: none;
}
.dd .borderTop {
    border-top: 1px solid #C3C3C3 !important;
}
.dd .noBorderTop {
    border-top: 0 none !important;
}
.dd2 {
    background-color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
}
.dd2 .ddTitle {
    background: url("msDropDown.gif") no-repeat scroll 0 0 transparent;
    cursor: default;
    height: 36px;
    overflow: hidden;
    padding: 0 3px;
    text-indent: 0;
}
.dd2 .ddTitle span.arrow {
    background: url("icon-arrow.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 27px;
    position: relative;
    right: 2px;
    top: 5px;
    width: 27px;
}
.dd2 .ddTitle span.ddTitleText {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    overflow: hidden;
    text-indent: 1px;
}
.dd2 .ddTitle span.ddTitleText img {
    padding: 0 2px 0 0;
    text-align: left;
}
.dd2 .ddTitle img.selected {
    padding: 0 2px 0 0;
    vertical-align: top;
}
.dd2 .ddChild {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    position: absolute;
    width: auto;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {
    padding-left: 10px;
}
.dd2 .ddChild a {
    color: #000000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 3px 0 3px 3px;
    text-decoration: none;
    white-space: nowrap;
}
.dd2 .ddChild a:hover {
    background-color: #66CCFF;
}
.dd2 .ddChild a img {
    border: 0 none;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd2 .ddChild a.selected {
    background-color: #66CCFF;
}
.dd2 .borderTop {
    border-top: 1px solid #C3C3C3 !important;
}
.dd2 .noBorderTop {
    border-top: 0 none !important;
}

.beta {
    color: red;
    font-size: 0.4em;
    vertical-align: 2px;
    font-weight: bold;
    padding-left: 10px;
}



.semmap-window {
/*    position: absolute; */ 
/*     right: 0px;  */
/*     top: 0px; */
/*     margin-right: 10px; */
/*    width: 35%; */
/*    max-height: 75%; */
/*
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    */
    background-color: #F9F9F9;
    border: 1px solid #4D4D4D;
    overflow: auto;
    overflow-y: auto;
	z-index: 1000;
	margin: 5px;
	padding: 0px;
}

.semmap-window-content {
	padding: 5px;
}


/* Fix for http://stackoverflow.com/questions/11266297/openlayers-openstreetmap-background-is-vertically-striped-and-squished */
img { max-width: none; }


/*
 * Bootstrap overrides
 */

.pagination {
	margin: 5px;
	height: 17px;
}

.pagination a {
	padding: 0 7px;
	line-height: 17px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f0f0ff;
}



