
.mybg {
	display:block;
	background:url(images/background.png);
	color:white;
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */

}

.myborder {
	border: 1px solid #888888;
	border-radius: 7px;
	color:#ffffff;
	padding: 7px;
	margin-left: 7px;
	margin-top: 7px;
}




span.dynatree-active a
{
	border: 1px solid #99DEFD;
	color:#ffffff;
}

ul.dynatree-container a
/*, ul.dynatree-container a:visited*/
{
	color: white; /* inherit doesn't work on IE */
	font-weight:bold;
}

ul.dynatree-container a:hover
{
/*	text-decoration: underline; */
	background: #888888; /* light blue */
	border-color: #B8D6FB; /* darker light blue */
}

span.dynatree-focused a:link  /* @IE */
{
/*	background-color: #EFEBDE; /* gray */
}



ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	color: white;
	white-space: nowrap;
	padding: 0px;
	margin: 0; /* issue 201 */


	/* background:url(images/background.png); */
	background: transparent;


	/* Problem: Also makes text transparent -> bad */
    /* filter:alpha(opacity=50); /* IE */
    /* -moz-opacity:0.5; /* Gecko-Browser */
    /* opacity:0.5; /* Opera 9+ */

	border: none; /*1px dotted gray;*/

	overflow: auto;
}


/*
ul.dynatree-container ul
{
	padding: 0 0 0 0px;
	margin: 0;
}
*/

ul.dynatree-container img
{	
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}

span.dynatree-node
{
	display: inline-block;
}



/* A dynatree-container without border*/
ul.ssb-container
{	
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	color: white;
	white-space: nowrap;
	padding: 3px;
	margin: 0; /* issue 201 */


	background:url(images/background.png);
	background: transparent;


	border: none;
	/* overflow: auto; */
}

ul.ssb-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background-attachment: scroll;
	background-color: transparent;
	background-repeat: repeat-y;
	background-position: 0 0;
	/*
	background-image: url("icons_96x256.gif");
	background-position: -80px -64px;
	padding: 1px 0 0 0;
	*/
	margin: 0;
}

ul.ssb-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}


ul.ssb-container a
/*, ul.dynatree-container a:visited*/
{
	color: white; /* inherit doesn't work on IE */
	font-weight:bold;
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
/*	outline: 0; /* @ Firefox, prevent dotted border after click */
}


ul.ssb-container a:hover
{
/*	text-decoration: underline; */
	background: #888888; /* light blue */
	border-color: #B8D6FB; /* darker light blue */
}



a
/*, ul.dynatree-container a:visited*/
{
	color: white; /* inherit doesn't work on IE */
	font-weight:bold;
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
/*	outline: 0; /* @ Firefox, prevent dotted border after click */
}


a:hover
{
/*	text-decoration: underline; */
	background: #888888; /* light blue */
	border-color: #B8D6FB; /* darker light blue */
}
