{# This is a comment and will be removed from the output.}

<li>
{.section features}
  {.repeated section @}
    <li><span id="{id}">{name}</span></li>
  {.end}
{.or}
    <p>(No matching instances)</p>
{.end}
</li>