{# This is a comment and will be removed from the output.}

{.section items}
  <ol>
  {.repeated section @}
    <li>{label} ({count})</li>
  {.end}
  </ol>
{.or}
    <p>(No matching instances)</p>
{.end}